extends layout

block content

  table(style="width:100%")
    tr
      th Rank
      th Player
      th Score
      th Golfer 1
      th Golfer 2
      th Golfer 3
    for player, i in players
      tr
      td= i+1
      td !{player.name}
      td !{player.score}
      td !{player.golfer1}
      td !{player.golfer2}
      td !{player.golfer3}

  br

  if user.admin
    form(method='POST' action='/')
      button.btn.btn-primary(type='submit') Refresh
